body {
    background-color: lightblue;
    text-align: center;
    font-family: monospace;
}

h1 {
    color: darkblue;
    font-size: 40px;
    border: 2px solid black;
    padding: 5px;
}

#gullfoss {
    border: 2px solid black;
}

ul {
    list-style-position:inside;
}
