.about-card {
    background-color:beige;
    border-radius: 50px;
    max-width: 90vw;
    margin-left: auto;
    margin-right: auto;
}

.about-title {
    color:darkblue;
    text-align: center;
    font-size: 45px;
    /* text-shadow: black 1px 1px; */
    font-family: Nunito;
    padding-top: 2rem;
}

.about-image {
    max-width: 400px;
    border-radius: 50px;
    padding: 2rem;
}

.about-container {
    display: flex;
    justify-content: space-evenly;
}

.about-paragraphs {
    max-width: 400px;
    padding: 2rem
}
